# Django
*.sqlite3
*.pyc
__pycache__/
/media/
/staticfiles/

# Environments
.env
.venv/
env/

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Local development
local_settings.py
/src/db.sqlite3
